databases:
  - name: all_trails_clone
    user: all_trails_clone
    plan: free
    region: oregon

services:
  - type: web
    name: mysite
    plan: free
    region: ohio
    branch: main
    env: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "rails s"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: all_trails_clone
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false