.whole-page {
    padding-top: 30px;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
}

.hike-show-page {
    width: 1010px;
   background-color: white;
   border: 1px solid rgb(177, 177, 177);
   border-radius: 16px;
}

.descriptors-with-background-image {
    position: relative;
    display: flex;
    align-items: right;
    justify-content: flex-end;
    flex-direction: column;
    height: 350px;
    border-radius: 15px 15px 0px 0px; 
    margin-bottom: auto;
    z-index: 100;
}
.hike-show-photo {
    position: absolute;
    height: 350px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.main-descriptors{
    z-index: 10;
    color: white;
    padding-left: 30px;
    font-size: 20px;
    font-family: "Manrope", sans-serif;
}

.hike-title{
    font-size: 36px;  
}

.hike-difficulty{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.park-name{
    padding-top: 10px;
    padding-bottom: 70px;
}
.sidebar-map{
    padding: 20px;
    height: 200px;
}

.grid-elements {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: minmax(0px, auto);
    /* background-color: rgba(0, 234, 255, 0.331); */
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* grid-template-areas: 
        "descriptors sidebar"
        "description sidebar"
        "tags sidebar"
        "conditions sidebar"
        "weather sidebar"
        "reviews sidebar"; */
        
}

.body-descriptors{
    /* grid-area: descriptors; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: left;
    padding: 8px;
    padding-top: 20px;
    margin-left: 3%;
}



.body-items{
    text-align: left;
    margin-right: 100px;
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    color: #2b381F;
}

.long-description {
    /* grid-area: description; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 6px;
    margin-right: 3%;
    margin-left: 3%;
    padding-bottom: 20px;
    font-family: "Manrope", sans-serif;
    color: #2b381F;
    border-bottom: 1px solid rgb(175, 175, 175);
    font-size: 16px;
    line-height: 30px;
}

.sidebar{
    /* grid-area: sidebar; */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 9;
    border-left: 1px solid rgb(175, 175, 175);
}

.tag-container {
    /* grid-area: tags; */
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    padding: 6px;
    margin-right: 3%;
    margin-left: 3%;
}

.tags{
    background-color: white;
    padding: 10px;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    border: 1px solid rgb(175, 175, 175);
    margin: 10px;
    border-radius: 5px;
}

.conditions {
    /* grid-area: conditions; */
    grid-row-start: 4;
     grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 10px;
}

.weather {
    /* grid-area: weather;  */
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 10px;
}

.reviews {
    /* grid-area: reviews; */
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 10px;
}
.duration, .el-gain, .type{
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    margin-top: 5px;
    font-size: 16px;
}

.side-bar-hikes{
    cursor: pointer;
   display: flex;
   flex-direction: column;
   margin: 10px;
}

.hike-show-list-items-photos{
    height: 150px;
    width: 250px;
    background-color: rgba(0, 225, 255, 0.34);
    border-radius: 20px;
    margin: 15px;
}

.hike-show-list-items{
    font-family: "Manrope", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 4px;
    line-height: 18px;
    
}

.hike-show-difficulty{
    font-size: 12px;
    color: rgb(80, 80, 80);
}

.hike-show-name{
    font-size: 17px;
}

.hike-show-park-name{
    font-size: 13px;
    color: rgb(80, 80, 80);
    font-weight: bold;
}

.hike-show-duration-and-length{
    font-size: 12px;
    color: rgb(80, 80, 80);
}

.nearby-trails{
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Manrope', sans-serif;
}


@media (max-width: 700px){
    .grid-elements{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}