.whole-page {
    padding-top: 30px;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
}

.hike-show-page {
    width: 72%;
    /* margin-left: 11%;
    margin-right: 11%; */
   background-color: white;
   border: 1px solid rgb(177, 177, 177);
   border-radius: 16px;
}

.descriptors-with-background-image {
    display: flex;
    align-items: right;
    justify-content: flex-end;
    flex-direction: column;
    background: url("../../images/hikersrectangle.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    border-radius: 15px 15px 0px 0px; 
    margin-bottom: auto;
}
.main-descriptors{
    color: white;
    padding-left: 30px;
    font-size: 20px;
    font-family: "Manrope", sans-serif;
}

.hike-title{
    font-size: 40px;  
}

.hike-difficulty{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.park-name{
    padding-top: 10px;
    padding-bottom: 70px;
}
.sidebar-map{
    padding: 20px;
    height: 200px;
}

.grid-elements {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgba(0, 234, 255, 0.331);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: 
        "descriptors sidebar"
        "description sidebar"
        "tags sidebar"
        "conditions sidebar"
        "weather sidebar"
        "reviews sidebar";
        
}

.body-descriptors {
    grid-area: descriptors;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    padding-left: 4px;
    padding-right: 40px;
    background-color: pink;
}

.long-description {
    background-color: orange;
    grid-area: description;
    padding: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.sidebar{
    grid-area: sidebar;
    background-color: green;
}

.tags {
    grid-area: tags;
}

.conditions {
    grid-area: conditions;
}

.weather {
    grid-area: weather;
}

.reviews {
    grid-area: reviews;
}
#duration, #el-gain, #type{
    font-weight: bold;
    margin-top: 5px;
}