.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    z-index: 1000;
    height: 650px;
    width: 550px;
    border-radius: 20px;
}

.star-rating {
    direction: rtl;
    padding: 20px;
    cursor: default;
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

.star-rating>input[type="radio"] {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 900;
}

.review-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 10px;
    margin-top: 30px;
    height: 450px;
}

.exit-modal {
    cursor: pointer;
    margin: 20px;
    font-size: 20px;
    font-family: "Manrope", sans-serif;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.exit-modal:hover {
    background-color: rgb(232, 232, 232);
}

.review-hike-title {
    font-family: "Manrope", sans-serif;
    font-size: 30px;
    margin-left: 35px;
    font-weight: bold;
}



.star-label {
    color: rgb(199, 197, 197);
    font-size: 40px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.star-label:hover,
.star-label:hover~label,
input[type="radio"]:checked~.star-label {
    color: #5de372;
}

.review-content {
    margin-top: -20px;
    padding: 20px;
    margin-bottom: 35px;
}

.review-content-label,
.trail-conditions-label {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}


textarea {
    border-radius: 10px;
    min-width: 450px;
    max-width: 450px;
    min-height: 140px;
    max-height: 140px;
    padding: 10px;
    resize: none;
}

.activity-type-dropdown {
    /* margin-top: -10px; */
    font-family: "Manrope", sans-serif;
    padding: 20px;
}

.activity-type-label {
    margin-bottom: 5px;
}

select {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 5px;
    font-family: "Manrope", sans-serif;
}

.button-container {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    border-top: 1px solid rgb(169, 169, 169);
}

.post-review-button,
.go-back-button,
.next-page-modal-button {
    cursor: pointer;
    margin: 30px;
    background-color: #2c5601;
    padding: 10px;
    width: 100px;
    border-radius: 30px;
    font-family: "Manrope", sans-serif;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #244801;
}


.post-review-button:hover,
.next-page-modal-button:hover {
    background-color: #1e3c00;
}

#go-back-button {
    background-color: white;
    color: #1e3c00;
    border: none;
}

#go-back-button:hover {
    background-color: rgb(226, 226, 226);
    border: 1px solid rgb(226, 226, 226);
}

.page-num {
    margin-top: -10px;
    font-family: "Manrope", sans-serif;
    margin-left: 20px;
    font-size: 14px;
    color: grey;
}

.edit-review-button,
.delete-review-button {
    cursor: pointer;
    background-color: white;
    border: none;
    width: auto;
    color: #2c5601;
    font-weight: bold;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    cursor: pointer;
    text-decoration: underline;
}

.star-rating>input[type="radio"] {
    display: none;
}

.radio-conditions>input[type="radio"] {
    display: none;
}

.radio-conditions {
    margin: 10px;
}

.conditions-options {
    padding-top: 10px;
    padding-left: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}



.conditions-label {
    background-color: #efefec;
    border-radius: 15px;
    padding: 10px;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    color: black;
    cursor: pointer;
}

input[type="radio"]:checked~.conditions-label {
    background-color: #2c5601;
    color: white;
}

.trail-conditions-label {
    padding-left: 20px;
    font-size: 16px;
}

/* .conditions-radio-buttons{
} */
/* 
.conditions1{
    border: 1px solid black;
}
 .conditions-label:hover,
 .conditions-label:hover~label,
 input[type="radio"]:checked~.conditions-label {
     color: #5de372;
 } */