.review-header-container{
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
}

.review-content{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.review-index-item {
    border-top: 1px solid rgb(200, 200, 200);
    padding-bottom: 20px;
}

.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px;
    cursor: default;
}
    input[type="radio"] {
        display: none;
    }

   
  