

.reviews-title{
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

.review-icon{
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding-top: 5px;
    height: 20px;
}

.review-top-bucket{
    padding: 20px;
    border-top: 1px solid rgb(175, 175, 175);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-avg-rating-bar{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.avg-reviews{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.write-review-button{
    cursor: pointer;
    background-color: #2c5601;
    color: white;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    width: 150px;
    height: 60px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #224300;
}

.write-review-button:hover{
    background-color: #224300;
}

.avg-stars{
    color: #2c5601;
    font-family: Arial, sans-serif;
    font-size: 80px;
}

.star-rating-icon{
    color: #5de372;
}

.be-the-first{
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    padding-top: 20px;
}


.stars-slider-container{
    display: flex;
    flex-direction: row;
   width: 200px;
}
.five-star-bar{
    margin-left: 8px;
    margin-top: 7px;
    background-color: #5de372;
    height: 6px;
    border-radius: 20px;
}

.icon-holder {
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    width: 10px;
}

.icon-and-number{
    display: flex;
    width: 30px;
}