.review-header-container, .review-content{
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
}

.review-content{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.review-index-item {
    border-top: 1px solid rgb(200, 200, 200);
    padding-bottom: 20px;
}

.user-icon{
    padding-right: 5px;
}

.review-icon-reviews{
    padding: 5px;
    font-size: 25px;
    color: rgb(0, 85, 0);
    border: 3px solid rgb(0, 85, 0);
    background-color: rgb(228, 255, 221);
    border-radius: 50%;
    padding-left: 7px;
    padding-right: 7px;
}

.review-header{
    padding-right: 14px;
    padding-top: 2px;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    line-height: 20px;
}
  
.date-and-activity-type-review{
    font-size: 12px;
}
.review-buttons {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}

.review-content-review-index{
    margin: 10px;
    margin-left: 35px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 25px;
}

.star-rating-1{
    color: #5de372;
    padding: 5px;
    margin: -3px;
}