.footer {
    padding-top: 20px;
    background-color: #142800;
    color: white;
}
.footer-item-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Manrope", sans-serif;
    padding-left: 200px;
    padding-right: 200px;
}

.footer-sections, .morgan-links-container{
    padding:40px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    line-height: 50px;
}


.footer-logo{
    padding: 20px;
    padding-top: 04px;
    color: white;
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    font-size: 26px;
}
.copywright{
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    padding: 20px;
    padding-left: 30px;
}

.morgan-links{
    width: auto;
    color: white;
    cursor: pointer;
    width: 120px;
}

.morgan-link-icon{
    font-size: 26px;
    padding: 10px;
}

.thanks{
    font-size: 20px;
}

.check-it-out{
    font-size: 22px;
}

.fa-earth-americas{
    font-size: 20px;
    margin-right: 5px;
}



@media(max-width: 1200px){
    .footer-item-container{
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media(max-width: 920px){

    .footer-item-container {
            padding-left: 75px;
            padding-right: 75px;
        }
        .footer-sections,
        .morgan-links-container {
            line-height: 30px;
            padding: 20px;
        }
}

@media(max-width: 800px){


    .footer-item-container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .footer-sections{
            line-height: 20px;
        }
}

@media(max-width: 680px) {


    .footer-item-container {
        background-color: pink;
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer-sections {
        line-height: 20px;
    }

    .footer-first-section{
        line-height: 20px;
    }

        .fa-earth-americas {
            display: none;
        }
}