.footer {
    padding-top: 20px;
    background-color: #142800;
    color: white;
}
.footer-item-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Manrope", sans-serif;
    padding-left: 200px;
    padding-right: 200px;
}

.footer-sections, .morgan-links-container{
    padding:40px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    line-height: 50px;
}


.footer-logo{
    padding: 20px;
    padding-top: 04px;
    color: white;
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    font-size: 26px;
}
.copywright{
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    padding: 20px;
    padding-left: 30px;
}

.morgan-links{
    width: auto;
    color: white;
    cursor: pointer;
    width: 120px;
}

.morgan-link-icon{
    font-size: 26px;
    padding: 10px;
}

.thanks{
    font-size: 20px;
}

.check-it-out{
    font-size: 22px;
}