.hike-index-page{
    margin-left: 14%;
    margin-right: 14%;
    /* background-color: blue; */
}

.location-bar{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 30px;
}

.arrow, .Country, .State {
    padding-left: 15px;
}
.trail-list {
    padding-top: 50px;
    padding-left: 3%;
    font-weight: bold;
    font-size: 28px;
    font-family: "Manrope", sans-serif;
}
.trails {
    display: flex;
    flex-direction: column;
    
}
.description {
    width: 750px;
    padding-left: 3%;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin: 0px 0px 24px;
}
.title-and-description {
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.title {
    padding-left: 3%;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 40px;
    font-family: "Manrope", sans-serif;
}
.SF-hike-images{
    height: 240px;
    border-radius: 20px;
    padding: 10px;
}

.SF-photos{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.map {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.369);
    padding-bottom: 300px;
}

.hike-list-item-container {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.369);
    display: grid;
    grid-template-columns: 1fr, 3fr;
    grid-column-gap: 10px;
    grid-template-areas:
        "photo descriptors"
}

.hike-list-items-photos {
   grid-area: photo; 
   height: 200px;
   width: 300px;
   background-color: rgba(104, 179, 253, 0.369);
   margin: 20px;
   border-radius: 20px;
}
#link {
    text-decoration: none;
    color: black;
}

.hike-list-items {
    grid-area: descriptors;
    display: flex;
    align-items: left;
    /* justify-content: left; */
    flex-direction: column;
    /* margin-bottom: 70px; */

}
.top-list-items{
    font-family: "Manrope", sans-serif;
    margin-bottom: 50px;
}
.hike-list-item {
    text-align: left;
}

.hike-name {
    font-weight: bold;
    font-family: "Manrope", sans-serif;
    font-size: 22px;
    padding-bottom: 15px;
}

.hike-duration-and-estimated-time{
    font-family: 14px;
}

.park-name-trails{
    font-size: 12px;
    padding-bottom: 5px;
}

.hike-difficulty{
    margin-top: 13px;
    margin-bottom: 15px;
    font-family: "Manrope", sans-serif;
}

.hike-description{
    font-size: 16px;
    line-height: 30px;
    font-family: "Manrope", sans-serif;
}

