.searchbar-container {
    /* background-image: url("../../assets/splash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    height: 535px;
    width: 100%;
    /* padding-top: 2.65%; */
    /* resize: both;
    overflow: scroll; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#background-image{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
    z-index: -1;
    position: absolute;
}

.splash-search-bar{
    /* margin-top: -200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-title{
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 68px;
    padding: 20px;
}

.search-bar{
    background-color: white;
    border-radius: 40px;
    height: 65px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar-text{
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.explore-link{
   margin-top: 20px;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.local-favorites {
    padding: 10px;
   padding-top: 20px;
   padding-bottom: 20px;
}

.local-favorites-links{
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    color: black;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
}


.local-fave-link{
    color: black;
    margin: 0px;
    font-weight: bold;
}

.bay-hikes{
    display: flex;
    justify-content: space-evenly;
}

.local-bay-hike-images{
    text-align: center;
    margin-right: 20px;
    width: 230px;
    border: 1px solid black;
    background-color: rgba(255, 192, 203, 0.353);
    border-radius: 20px;
}

.splash-container-2{
    height: 350px;
    background-color: rgba(249, 247, 219, 0.52);
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 180px;
}

.activity-images{
    display: grid; 
    grid-template-columns: repeat(3, 170px);
    grid-template-rows: repeat(3, 159px);
    grid-column-gap: 45px;
    grid-row-gap: 25px;
}

.local-bay-activity-images{
    margin-top: 70px;
    height: 170px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    color: white;
    font-family: "Manrope", sans-serif;
}

.running, .kid-hiking, .puppy, .biking, .wheelchair, .road-biking{
    background-image: url("../../assets/running.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.running:hover, .kid-hiking:hover, .puppy:hover, .biking:hover, .wheelchair:hover, .road-biking:hover{
    width: 203px;
   height: 173px;
}
.kid-hiking {
    background-image: url("../../assets/kidhiking.jpg");
}
.puppy {
    background-image: url("../../assets/puppy.jpg");
}

.biking {
    background-image: url("../../assets/biking-2.jpg");
}

.wheelchair {
    background-image: url("../../assets/wheelchair.jpg");
}
.road-biking {
    background-image: url("../../assets/roadbike.jpg");
}

.running-text {
    padding-left: 17px;
    padding-bottom: 15px;
    font-weight: bold;
}
.splash-container-2-description{
    width: 400px;
    margin-left: 100px;
}

.trails-that-fit-nature{
    font-size: 40px;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 40px;
}
.pushing-limits{
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 40px;
}

.sign-up-redirect-button{
    cursor:pointer;
    background-color: #2c5601;
    color: white;
    font-family: 'Manrope', sans-serif;
    border: 1px solid #2c5601;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 30px;
    width: 110px;
    height: 50px;
    margin-left: 9px;
}
.sign-up-redirect-button:hover{
    background-color: #1b3501   
}

.inspiring-image{
    background-image: url("../../assets/explore.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 570px;
    width: 100%;
    resize: both;
    overflow: scroll;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
   
}

.inspiring-image-title, .inspiring-image-description{
    font-family: "Manrope", sans-serif;
    color: white;
    font-size: 66px;
    padding-top: 30px;
    padding-left: 100px;
    width: 420px;
    line-height: 70px;
}

.inspiring-image-description{
    padding-top: 30px;
   font-size: 20px;
   width: 100%;
}

.reasons-to-sign-up{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}

.curated-trails, .fellow-explorers, .logged-miles{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    color: #2b381f;
   
}

.large-reasons, .medium-reasons, .small-reasons{
    font-family: "Manrope", sans-serif;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 20px;
}

.large-reasons{
    margin-bottom: 8px;
}

.medium-reasons{
    font-size: 20px;
    padding-bottom: 30px;
}

.small-reasons{
    width: 310px;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
}

.adventure-anywhere-container{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.adventure-anywhere, .parks-worth-look{
    display: flex;
    flex-direction: column;
    font-family: "Manrope", sans-serif;
    font-size: 36px;
    color: #2b381f;
    font-weight: bold;
    padding-bottom: 80px;
}
.parks-worth-look{
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(203, 203, 203);
}

.adventure-parks-list{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(4, 100px);
    grid-column-gap: 60px;
    grid-row-gap: 40px;
}

.park-image{
    background-color: rgba(0, 255, 221, 0.348);
    text-align: center;
    height: 100px;
    border-radius: 20px;;
}

.local-favorites-show-more{
    border: 1px solid black;
    border-radius: 20px;
    height: 180px;
    width: 250px;
    border-radius: 20px;
    margin: 15px;
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    cursor: pointer;
}

.carousel-show-more-link{
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    padding: 30px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    width: 100%;
}


.for-the-planet-container{
    padding-top: 100px;
    padding-left: 20px;
    background-color: #2c5601;
    display: flex;
    height: 350px;
    align-items: center;
    position: relative;
    padding-bottom: 30px;
}

.p-for-planet, .trees, .no-trace{
    color: white;
    font-family: "Manrope", sans-serif;
    padding: 50px;
    font-size: 17px;
    line-height: 40px;
    margin-top: -60px;
    height: inherit;
}

.for-planet-section-title{
    font-size: 25px;
    padding-bottom: 30px;
}

.give-back-link-container{
    position: absolute;
    top: 75%;
    margin-left: 70px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.give-back-link{
    font-weight: bold;
    cursor: pointer;
    padding: 12px;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 16px;
    border-radius: 30px;
    color: #2b381f;
    background-color: #5de372;
    border: none;
    text-decoration: none;
    font-family: "Manrope", sans-serif;

}

.give-back-link:hover{
    background-color: #58c568;
}

.fa-tree, .fa-seedling, .fa-earth-americas{
    font-size: 36px;
    padding-bottom: 20px;
}

.thanks-for-being-member{
    font-family: "Manrope", sans-serif;
    color: #2b381f;
    background-color: #5de372;
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
}

@media (min-width: 1420px){


    .searchbar-container{
        padding-top: 9.65%;
    }

    .splash-search-bar {
        margin-top: -200px;
    }

}

@media (max-width: 1050px){

    .give-back-link-container{
        padding-top: 40px;
    }
}

@media (max-width: 950px) {

   .for-planet-section-title{
    font-size: 20px;
   }

   .para-planet{
        font-size: 16px;
        margin-bottom: 40px;
   }

   .p-for-planet,.trees, .no-trace{
        padding: 30px;
   }

}

@media (max-width: 800px){

    .p-for-planet, .trees, .no-trace {
        line-height: 20px;
    }
    
     .para-planet {
        font-size: 18px;
        margin-bottom: 40px;
        line-height: 30px;
    }
}

 @media (max-width: 700px) {

     .p-for-planet,
     .trees,
     .no-trace {
         line-height: 20px;
     }

     .para-planet {
         font-size: 16px;
         margin-bottom: 40px;
         line-height: 20px;
     }
 }

@media (max-width: 400px) {

    .p-for-planet,
    .trees,
    .no-trace {
        line-height: 30px;
    }

    .para-planet {
        font-size: 16px;
        margin-bottom: 40px;
        line-height: 26px;
    }
}

.rec.rec-arrow {
    border-radius: 50%;
    background-color: white;
    color: grey;
    font-family: sans-serif;
    font-size: 30px;
}

.rec.rec-arrow:hover:enabled {
    background-color:rgb(177, 177, 177);
}
.rec.rec-pagination{
    display: none;
}

.rec.rec-arrow:focus:enabled {
    background-color: rgb(177, 177, 177);
}