@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
/* *, *:before, *:after {
    box-sizing: border-box;
 } */

.login-form {
    background-color: white;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(0, 0, 0, 0.165);
    padding: 24px;
    width: 460px;
    max-width: 80%;
    height: 570px;
    max-height: 80%;
    z-index: 10;
    border-radius: 25px;
    margin-top: 5%;
}

.login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 20px;
    align-items: center;
}

.login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    align-items: center;
}

.formTitle {
    font-size: 28px;
    font-family: Percent, Arial, sans-serif;
    text-align: center;
}


.form-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.login-form-buttons {
    width: 95%;
    cursor: pointer;
    background-color: #2c5601;
    color: white;
    font-family: "Manrope", Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50px;
    margin: 10px;
    padding: 8px;
}

.login-form-buttons:hover {
    background-color: #1e3a01
}

.input-value {
    width: 90%;
    margin: 10px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

.pageElements {
    background-color: green;
}

.background-image {
    height: 100%;
    width: 100%;
}

#link-to-sign-up-form{
    margin-top: 20px;
}

.signup-link {
    font-weight: bold;
    color: black;
}
.background-image-container-login {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.background-image-login {
    width: 50%;
    height: 80%;
}