@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
/* *, *:before, *:after {
    box-sizing: border-box;
 } */

.login-form {
    background-color: white;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(0, 0, 0, 0.165);
    padding: 24px;
    width: 460px;
    max-width: 80%;
    height: 570px;
    z-index: 10000;
    border-radius: 25px;
    margin-top: 120px;
}

.login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    align-items: center;
}

.login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    align-items: center;
}

.login-form-title {
    font-size: 28px;
    /* font-family: Percent, Arial, sans-serif; */
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

.form-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.login-form-buttons {
    width: 95%;
    cursor: pointer;
    background-color: #2c5601;
    color: white;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50px;
    margin: 10px;
    padding: 8px;
}

.login-form-buttons:hover {
    background-color: #1e3a01
}

.input-value {
    width: 90%;
    margin: 10px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Manrope', sans-serif
}

.pageElements {
    background-color: green;
}

#link-to-sign-up-form{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    margin-top: 20px;
}

.signup-link {
    padding-top: 10px;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    color: black;
}
.background-image-container-login {
    background: url("../../assets/sign-in-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
    resize: both;
    overflow: scroll;
}

.hidden{
   position: fixed;
   z-index: 1000;
   margin-top: 0px;
}

.hidden-background{
    height: 0px;
}

.must-be-logged-in {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: -10px;
}

.exit-modal-button{
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 8px;
    width: 15px;
}
.exit-modal-button:hover{
    background-color: rgb(221, 221, 221);
    border-radius: 20px;
}

#logo-session{
    padding: 10px;
    height: 50px;
    background-color: rgb(77, 255, 77);
    border-radius: 50%;
}

@media(max-width: 700px){
    .background-image-container-login {
        background-image: url("../../assets/hiker.jpg");
        background-size: cover;
        height: 900px;
    }

    .login-form {
        position: relative;
        margin-top: 0px;
        width: 70%;
    }

    .input-value{
        font-size: 12px;
    }
    

}
@media (max-height: 600px) {
    .login-form {
        position: relative;
        margin-top: -100px;
        width: 600px;
        /* height: 65%; */
    }
}
