@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
.sign-up-form {
    background-color: rgba(46, 245, 255, 0.438);
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 40px;
    width: 500px;
    max-width: 80%;
    height: 550px;
    z-index: 10;
    border-radius: 25px;
}

.sign-up-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 20px;
    align-items: center;
}

.sign-up-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    align-items: center;
}

.formTitle {
    font-size: 28px;
    font-family: Percent, Arial, sans-serif;
}


.form-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

#sign-up-button{
    width: 90%;
    cursor: pointer;
    background-color: #2c5601;
    color: white;
    font-family: Manrope, Arial, sans-serif;
    border-radius: 50px;
    margin: 20px;
} 

#sign-up-button:hover {
    background-color: #1b3501
}

.input-value{
    width: 90%;
    margin: 10px;
    font-size: 20px;
}