@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');


.sign-up-form {
    background-color: white;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(0, 0, 0, 0.165);
    padding: 24px;
    width: 400px;
    max-width: 70%;
    height: 680px;
    /* max-height: 90%; */
    z-index: 10;
    border-radius: 25px;
    margin-top: 50px;
}

.sign-up-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 5px;
    align-items: center;
}

.sign-up-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    align-items: center;
    width: 400px;
   margin-left: 65px;
}

.formTitle {
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}


.form-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

#sign-up-button {
    width: 90%;
    cursor: pointer;
    background-color: #2c5601;
    color: white;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50px;
    margin: 20px;
    padding: 8px;
} 

#sign-up-button:hover {
    background-color: #1e3a01
}

.input-value{
    width: 80%;
    margin: 10px;
    font-size: 16px;
    padding: 10px;
}


.background-image-container {
    background: url("../../assets/sign-up-background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
    resize: both;
    overflow: scroll;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 50% 50%;
    align-items: center; */
    /* flex-direction: column; */
} 

/* .background-image-signup { */
    /* width: 100%;
    height: auto; */
/* } */

.login-link {
    font-weight: bold;
    color: black;
    font-size: 18px;
}
#link-to-login-form{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
}

@media(max-width: 700px){
    .sign-up-form{
        position: relative;
        margin-top: 0px;
        width: 70%;
        /* height: 65%; */
    }

    .background-image-container {
        background-image: url("../../assets/marinocean.jpg");
        background-size: cover;
        height: 900px;
    }

    .formTitle {
        font-size: 20px;
    }

    .input-value{
        font-size: 12px;
    }

    .form-elements {
        font-size: 14px;
    }
}

@media (max-height: 780px){
    .sign-up-form {
            position: relative;
            margin-top: 0px;
            width: 600px;
            /* height: 65%; */
        }
}