.sign-up-form {
    background-color: rgba(46, 245, 255, 0.438);
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 40px;
    width: 500px;
    max-width: 80%;
    height: 500px;
    z-index: 10;
    border-radius: 25px;
}

.sign-up-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 20px;
    align-items: center;
}

.sign-up-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    align-items: center;
}

.formTitle {
    font-size: 35px;
    font-family: Percent, Arial, sans-serif;
}

.sign-up-body {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}