/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');  */

nav{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.369);
    margin-bottom: 20px;
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 8px;
}

.innerLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.inner {
    padding: 5px;
    text-align: center;
}

.sign-up{
    background-color: #2c5601;
    color: white;
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
    border: 1px solid #2c5601;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    border-radius: 9999px;
    width: 65px;
    height: 12px;
    margin-right: 9px;
}
.log-in {
    background-color: #f0f0ec;
    color: #2b381f;
    font-family: "Manrope", Arial, sans-serif;
    text-decoration: none;
    border: 1px solid #f0f0ec;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    border-radius: 9999px;
    width: 65px;
    height: 12px;
}

.log-in:hover{
    background-color: #d7d7d4;
}

.sign-up:hover{
    background-color: #1b3501
}

#logo {
    color: black;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 3px;
}

#logo-text {
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-size:24px;
    font-weight: bold;
    color: black;
}

nav{
    padding: 15px;
}