/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap'); 

.links{
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 5px;
}

.innerLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.inner {
    padding: 5px;
    text-align: center;
}

.sign-up{
    background-color: #2c5601;
    color: white;
    font-family: Manrope, Arial, sans-serif;
    text-decoration: none;
    border: 1px solid #2c5601;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    border-radius: 9999px;
    width: 65px;
    height: 12px;
    margin-right: 9px;
}
.log-in {
    background-color: #f0f0ec;
    color: #2b381f;
    font-family: Manrope, Arial, sans-serif;
    text-decoration: none;
    border: 1px soli12d #f0f0ec;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    border-radius: 9999px;
    width: 65px;
    height: 12px;
}

.log-in:hover{
    background-color: #d7d7d4;
}

.sign-up:hover{
    background-color: #1b3501
}