
.dropdown-icon {
    font-size: 22px;
    position: relative;
    align-items: center;
    cursor: pointer;
    background-color: #2c5601;
    padding: 8px;
    border-radius: 50%;
    color: #5de372;
    border: 2px solid #2c5601;
}

.dropdown-menu{
    margin-top: -5px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    position: absolute;
    right: 40px;
    top: 51px;
    background-color: white;
    z-index: 10000;
    border: 1px solid rgb(238, 236, 236);
    border-radius: 5px;
}

.nav-item {
    font-family: "Manrope", sans-serif;
    padding: 15px;
    cursor: pointer;
    text-align: left;
}

.nav-item:hover {
    background-color: rgb(226, 226, 226);
}

.logout-button {
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    background-color: white;
    width: 100%;
}
