
.dropdown-icon {
    align-items: center;
    cursor: pointer;
}

.dropdown-menu{
    margin-top: -5px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-button {
    position: relative;
    color: green;
    border: 2px solid green;
    border-radius: 30px;
    background-color: white;
    font-size: 30px;
    height: 45px;
}

.dropdown {
    /* top: 50px; */
    /* padding-top: 5px;
    padding-bottom: 5px; */
    position: absolute;
    right: 40px;
    top: 65px;
    background-color: white;
    z-index: 10000;
    border: 1px solid rgb(238, 236, 236);
    border-radius: 5px;
}

.nav-item {
    padding: 15px;
    cursor: pointer;
    text-align: center;
}

.nav-item:hover {
    background-color: rgb(226, 226, 226);
}

.logout-button {
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    background-color: white;
    width: 100%;
}
