.drop-down-menu {
    position: relative;
    display: inline-block;
}

.dropdown-icon {
    align-items: center;
    cursor: pointer;
}

.dropdown-button {
    margin-right: 0;
    color: green;
    border: 3px solid green;
    border-radius: 30px;
    background: white;
    font-size: 30px;

}
.dropdown {
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    background-color: white;
    z-index: 1;
    border: 1px solid rgb(238, 236, 236);
    border-radius:5px;
}

.nav-item{
    padding: 15px;
    cursor: pointer;
    text-align: center;
}
.nav-item:hover{
    background-color: rgb(226, 226, 226);
}
.logout-button {
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    background-color: white;
    width: 100%;
}